<div class="container">
  <div class="container listingOffsetTextColor">
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Bid By</th>
        <th scope="col" *ngIf="auctionType == 'buyer'">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col" *ngIf="auctionType == 'buyer'">Manufacturer</th>
        <th scope="col" *ngIf="auctionType == 'buyer'">Marketing Expenses</th>
        <th scope="col" *ngIf="auctionType == 'buyer'">Effective Price</th>
        <th scope="col">Bid At</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="!data || data.length==0">
        <tr>
          <td></td>
          <td></td>
          <td *ngIf="auctionType == 'seller'"></td>
          <td> No Data Found</td>
          <td></td>
          <td></td>
        </tr>
      </ng-container>
      <ng-container *ngFor="let bid of data">
        <tr>
          <td>
            <a [routerLink]="['/product', bid.auction.sampleNo._id]">
              <div>
                <p>{{ bid.auction.sampleNo.name.name}}</p>
                <div>
                  <img [src]="bid.auction.sampleNo.image" class="img-thumbnail" width="100" height="100"/>
                </div>
              </div>
            </a>
          </td>
          <td>{{bid.createdBy.name}}</td>
          <td *ngIf="auctionType == 'buyer'">{{bid.quantity + " " + bid.auction.unit.mass}}</td>
          <td>{{"INR " + bid.price}}</td>
          <td *ngIf="auctionType == 'buyer'"> {{getManufacturer(bid)}}</td>
          <td *ngIf="auctionType == 'buyer' && bid.marketingExpense > 0"> Yes, {{bid.marketingExpense}}%</td>
          <td *ngIf="auctionType == 'buyer' && (!bid.marketingExpense || bid.marketingExpense === 0 ||bid.marketingExpense == null)"> No</td>

          <!-- <td  *ngIf="auctionType == 'buyer' && bid.marketingExpense > 0; else elseMktExpBlock"> Yes </td>
          <td #elseMktExpBlock>
            No
          </td> -->
          <td
            *ngIf="auctionType == 'buyer'">{{"INR " + (bid.price - (bid.marketingExpense * bid.price / 100)).toFixed(2) }}</td>
          <td>{{getDateString(bid.createdAt)}}</td>
          <td>
            <button class="btn btn-primary" *ngIf="confirmOrder && !bid.orderConfirmed" (click)="confirmBidOrder(bid)">
              Confirm Order
            </button>&nbsp;
            <button class="btn btn-primary" *ngIf="confirmOrder && !!bid.orderConfirmed" [disabled]="true">
              Order Confirmed
            </button>&nbsp;
            <button class="btn btn-primary" *ngIf="bidHistory && role== 'admin'" (click)="openBidHistory(content,bid)">
              Bid History
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <nav aria-label="Page navigation example" *ngIf="totalPages.length>0">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{ 'disabled' : currentPage <= 1}"><a class="page-link"
                                                                              (click)="onPageChange(currentPage-1)">Previous</a>
        </li>
        <li class="page-item" [ngClass]="{ 'active' : currentPage== page}" *ngFor="let page of totalPages"><a
          class="page-link"
          (click)="onPageChange(page)">{{page}}</a></li>
        <li class="page-item" [ngClass]="{ 'disabled' : currentPage>=totalPages.length}"><a class="page-link"
                                                                                            (click)="onPageChange(currentPage+1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<ng-template #content let-modal>
  <app-bid-history [modal]="modal" [bids]="bidHistoryData" [bid]="bid" [auctionType]="auctionType"></app-bid-history>
</ng-template>
