<div class="container">
  <div class="row container listingOffsetTextColor">
      <!-- <div class="ItemCardContainer"> -->
    <!-- <ng-container *ngFor="let gblisting of gblistings">
      <div class="col-12 col-md-6">
        <div class="ItemCardContainer">
          <app-gblisting-card [gblisting]="gblisting"></app-gblisting-card>
        </div>
      </div>
    </ng-container> -->
    <div class="col-12 col-md-12">
      <div class="row">
        <ng-container *ngFor="let gblisting of data">
          <div class="col-12 col-md-6">
            <div class="ItemCardContainer">
              <app-gblisting-card [gblisting]="gblisting"></app-gblisting-card>
            </div>
          </div>
        </ng-container>
      </div>

      <nav aria-label="Page navigation example" *ngIf="totalPages.length>0">
          <ul class="pagination">
            <li class="page-item" [ngClass]="{ 'disabled' : currentPage <= 1}"><a class="page-link"
                                                                                  (click)="onPageChange(currentPage-1)">Previous</a>
            </li>
            <li class="page-item" [ngClass]="{ 'active' : currentPage== page}" *ngFor="let page of totalPages"><a
              class="page-link"
              (click)="onPageChange(page)">{{page}}</a></li>
            <li class="page-item" [ngClass]="{ 'disabled' : currentPage>=totalPages.length}"><a class="page-link"
                                                                                                (click)="onPageChange(currentPage+1)">Next</a>
            </li>
          </ul>
        </nav>
        </div>
    </div>

  </div>
<!-- </div> -->
