<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Place your bid</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="spinner-grow loader text-success" *ngIf="loading"></div>
<div class="modal-body" *ngIf="auction" [ngClass]="{'loading' : loading}">
  <div class="error-block alert alert-danger" *ngIf="form.invalid && submitted">
    <p *ngIf="getErrors('quantity').max">Quantity can not exceed {{auction.maxQty}}</p>
    <p *ngIf="getErrors('quantity').min">Quantity should be greater than {{auction.minQty}}</p>
    <p *ngIf="getErrors('price').required">Please enter Price</p>
    <p *ngIf="getErrors('price').max && role=='buyer'">Price can not exceed {{auction.ceilingPrice}}</p>
    <p *ngIf="getErrors('price').max && role=='seller'">Price can not exceed {{auction.floorPrice}}</p>
    <p *ngIf="getErrors('price').min">Price should be greater than {{auction.floorPrice}}</p>
    <p *ngIf="getErrors('marketingExpense').required">Please enter marketing expense</p>
    <!-- <p *ngIf="getErrors('marketingExpense').min">Marketing expense should be greater than 1</p> -->
    <p *ngIf="getErrors('marketingExpense').max">Marketing expense should not be greater than 100</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="save($event)" [ngClass]="{'loading' : loading}">

    <div formGroupName="newItem">
        <!-- <div class="row">
            <div class="col-md-12" *ngIf="role == 'buyer' && bids != null">
                <label>Bid already submitted with price {{bids[0].price}} for {{bids[0].quantity}} {{auction.unit.mass}}</label>
            </div></div> -->
      <div class="row">
        <div class="col-md-12" *ngIf="role != 'admin'">
          <label>To check any previously placed bid <a href="/auction/bids"> Click here</a></label>
      </div>
      </div>      
      <div class="row">
        <div class="col-md-6" *ngIf="role == 'buyer'">
          <div class="form-group">
            <label>Quantity (in {{auction.unit.mass}})</label>
            <input #quantity type="number" id="quantity" class="form-control" formControlName="quantity"
                   placeholder="Quantity">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Price in Rupees</label>

            <input type="number" id="price" class="form-control" formControlName="price"
                   placeholder="Price">
          </div>
        </div>
        <div class="col-md-12" *ngIf="role == 'seller'">
          <div class="form-group">
            <label>Manufacturer <input type="checkbox" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="manufacturerNotPresent"/> (Check Not Present in below
              system)</label>
            <div class="col-md-6">
              <select name="Manufacturer" *ngIf="!manufacturerNotPresent" id="manufacturer"
                      formControlName="manufacturer"
                      class="form-control">
                <option value=''>Select Manufacturer</option>
                <option *ngFor="let mnf of manufacturers" [ngValue]="mnf._id"> {{ mnf.name }} </option>
              </select>
              <input *ngIf="manufacturerNotPresent" type="text" id="manufacturer"
                     formControlName="manufacturer" class="form-control"

                     placeholder="Manufacturer">
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="role == 'seller'">
          <div class="form-group">
            <label>Marketing Expense (%age) <input type="checkbox" [ngModelOptions]="{standalone: true}"
                                                   [(ngModel)]="showMarketingExpense"/></label>
            <div class="col-md-6">
              <input class="col-md-6" *ngIf="showMarketingExpense" type="number" maxlength="3" id="marketingExpense"
                     formControlName="marketingExpense" class="form-control"

                     placeholder="Marketing Expense">
            </div>
          </div>
        </div>
      </div>

    </div>

  </form>
  
</div>
<div class="modal-footer" [ngClass]="{'loading' : loading}">
  <button type="button" class="btn btn-outline-dark" [disabled]="loading" (click)="save($event)">Save</button>
</div>

