<div class="container listingOffsetTextColor" *ngIf="form">
  <div class="error-block alert alert-danger" *ngIf="form.invalid && submitted">
    <p *ngIf="getErrors('auctionType').required">Please select Auction Type</p>
    <p *ngIf="getErrors('itemName').required">Please select Item Name</p>
    <p *ngIf="getErrors('itemCategory').required">Please select Item Category</p>
    <p *ngIf="getErrors('sampleNo').required">Please select Sample No.</p>
    <p *ngIf="getErrors('availableQty').required">Please enter {{role=='buyer'?'Quantity':'Available Quantity'}}</p>
    <p *ngIf="getErrors('availableQty').min">{{role=='buyer'?'Quantity':'Available Quantity'}} must be greater than 1</p>
    <p *ngIf="getErrors('minQty').required">Please enter Minimum Quantity</p>
    <p *ngIf="getErrors('minQty').min">Minimum Quantity must be greater than 1</p>
    <p *ngIf="getErrors('minQty').max">Minimum Quantity can not exceed Available quantity</p>
    <p *ngIf="getErrors('maxQty').required">Please enter Maximum Quantity</p>
    <p *ngIf="getErrors('maxQty').min">Maximum Quantity can not be lesser than minimum quantity</p>
    <p *ngIf="getErrors('maxQty').max">Maximum Quantity can not exceed Available quantity</p>
    <p *ngIf="getErrors('floorPrice').required">Please enter {{role=='buyer'?'Price':'Floor Price'}}</p>
    <p *ngIf="getErrors('unit').required">Please select Unit</p>
    <p *ngIf="getErrors('ceilingPrice').required">Please enter Ceiling Price</p>
    <p *ngIf="getErrors('startTime').required">Please enter Start Time</p>
    <p *ngIf="getErrors('endTime').required">Please enter End Time</p>
    <p *ngIf="getErrors('address').required">Please enter your address</p>
    <p *ngIf="getErrors('pincode').required">Please enter your pincode</p>
    <p *ngIf="getErrors('state').required">Please select your state</p>
    <p *ngIf="getErrors('buyer').required">Please select buyer</p>
    <div *ngIf="getErrors('startTime').invalid && getErrors('startTime').errors.owlDateTimeMax">
      Start Date should not be after 30 days from current date.
    </div>
  </div>
  <div class="spinner-grow loader text-success" *ngIf="loading"></div>
  <form [formGroup]="form" (ngSubmit)="save($event)" [ngClass]="{'loading' : loading}">
    <div formGroupName="newItem">
      <div class="row">
        <h4>Auction Details</h4>
      </div>
      <div class="row">
        <div class="col-md-3 pl-1" *ngIf="formControls.auctionType">
          <div class="form-group">
            <label>Auction Type</label>
            <select class="form-control" id="auctionType" formControlName="auctionType" (ngModelChange)="onAuctionTypeChange($event)" >
              <option value=''>Select Auction Type</option>
              <option value='buyer'>Buyer</option>
              <option value='seller'>Seller</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 pr-1" *ngIf="formControls.itemName">
          <div class="form-group">
            <label>Item</label>
            <select class="form-control" id="itemName" formControlName="itemName"
                    (ngModelChange)="onItemChange($event)">
              <option value=''>Select Item</option>
              <option *ngFor="let item of itemnames" [ngValue]="item._id"> {{ item.name }} </option>
            </select>

          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf="formControls.itemCategory">
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" id="itemCategory" [attr.disabled]="!form.value.newItem.itemName?'':null"
                    formControlName="itemCategory" (ngModelChange)="onCategoryChange($event)">
              <option value=''>Select Category</option>
              <option *ngFor="let category of categories" [ngValue]="category._id"> {{ category.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf="formControls.sampleNo">
          <div class="form-group">
            <label>Sample No</label>
            <select class="form-control" id="sampleNo" formControlName="sampleNo"
                    [attr.disabled]="!form.value.newItem.itemCategory?'':null"
                    (ngModelChange)="onSampleNoChange($event)">
              <option value=''>Select Sample No</option>
              <option *ngFor="let listing of listings" [ngValue]="listing._id"
              > {{ listing.sampleNo }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <!--<div class="col-md-3 pl-1" *ngIf="formControls.sampleNo && role=='seller'">-->
          <!--<div class="form-group">-->
            <!--<label>Sample No</label>-->
            <!--<select class="form-control" id="sampleNo" formControlName="sampleNo"-->
                    <!--(ngModelChange)="onSampleNoChange($event)">-->
              <!--<option value=''>Select Sample No</option>-->
              <!--<option *ngFor="let listing of listings" [ngValue]="listing._id"-->
              <!--&gt; {{ listing.sampleNo }}</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label>{{role == 'buyer' || form.value.newItem.auctionType=="buyer" ? 'Quantity' : 'Available Quantity'}}</label>
            <input type="number" id="availableQty" class="form-control" formControlName="availableQty"
                   placeholder="Available Quantity">
          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf="formControls.minQty">
          <div class="form-group">
            <label>Minimum Quantity</label>
            <input type="number" id="minQty" class="form-control" formControlName="minQty"
                   placeholder="Minimum  Quantity">
          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf="formControls.maxQty">
          <div class="form-group">
            <label>Maximum Quantity</label>
            <input type="number" id="maxQty" class="form-control" formControlName="maxQty"
                   placeholder="Maximum  Quantity">
          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf="!edit">
          <div class="form-group">
            <label>Units</label>
            <select class="form-control" id="unit" formControlName="unit">
              <option value=''>Select Unit</option>
              <option *ngFor="let unit of units" [ngValue]="unit._id"> {{ unit.mass }} </option>
            </select>
          </div>
        </div>
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label>{{role == 'buyer' || form.value.newItem.auctionType=="buyer"  ? 'Ceiling Price' : 'Floor Price'}}</label>
            <input *ngIf="form.value.newItem.auctionType=='buyer' || role == 'buyer'" type="number" id="floorPrice" class="form-control" formControlName="floorPrice"
                   placeholder="Ceiling Price">
                   <input *ngIf="role=='seller' || (role=='admin' && form.value.newItem.auctionType=='seller')" type="number" id="floorPrice" class="form-control" formControlName="floorPrice"
                   placeholder="Floor Price">       
          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf="formControls.ceilingPrice">
          <div class="form-group">
            <label>Ceiling Price</label>
            <input type="number" id="ceilingPrice" class="form-control" formControlName="ceilingPrice"
                   placeholder="Ceiling Price">
          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf="!edit">
          <div class="form-group">
            <label>Name Visible?</label>
            <select class="form-control" id="nameVisible" formControlName="nameVisible">
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label>Transport Cost</label>
            <select class="form-control" id="transportCost" formControlName="transportCost">
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!edit">
        <h4>{{(form.value.newItem.auctionType == "buyer" || role == 'buyer') ? 'Destination' : 'Origin'}} Address</h4>

      </div>
      <div class="row" *ngIf="!edit">
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label>Address</label>
            <input type="text" id="address" class="form-control" formControlName="address"
                   placeholder="Address">
          </div>
        </div>
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label>Pincode</label>
            <input type="text" id="pincode" class="form-control" formControlName="pincode"
                   placeholder="Pincode">
          </div>
        </div>
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label>State</label>
            <select class="form-control" id="state" formControlName="state">
              <option value=''>Select State</option>
              <option *ngFor="let state of states" [ngValue]="state._id"> {{ state.name }} </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!edit">
        <h4>Select the duration</h4>
      </div>
      <div class="row" *ngIf="!edit">
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label>Start Date</label><br>
            <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" id="startTime"
                   formControlName="startTime"
                   placeholder="Date Time"
                   [max]="maxStartDateTime"
            >

            <owl-date-time #dt1></owl-date-time>
          </div>
        </div>

        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label>End Date</label><br>
            <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" id="endTime"
                   formControlName="endTime"
                   placeholder="Date Time"
                   [max]="maxEndDateTime"
            >
            <owl-date-time #dt2></owl-date-time>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!edit">
        <h4 *ngIf='form.value.newItem.auctionType=="seller" && form.value.newItem.sampleNo'>Seller Details</h4>
        <h4 *ngIf='form.value.newItem.auctionType=="buyer"'>Buyer Details</h4>
      </div>
      <div class="row" *ngIf="!edit">

        <div class="col-md-3 pl-1" *ngIf='form.value.newItem.auctionType=="seller" && form.value.newItem.sampleNo'>
          <div class="form-group">
            <label>Seller</label>
            <!--<select class="form-control" id="seller" formControlName="seller">-->
            <!--<option value=''>Select Seller</option>-->
            <!--<option *ngFor="let sell of sellers" [ngValue]="sell._id"> {{ sell.name }} </option>-->
            <!--</select>-->
            <input type="text" value="{{seller && seller.name}}" class="form-control" disabled>
          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf='form.value.newItem.auctionType=="buyer"'>
          <div class="form-group">
            <label>Buyer</label>
            <select class="form-control" id="buyer" formControlName="buyer">
              <option value=''>Select Buyer</option>
              <option *ngFor="let buyer of buyers" [ngValue]="buyer._id"> {{ buyer.name }} </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="formControls.remarks">
        <h4>Remarks</h4>
      </div>
      <div class="row" *ngIf="formControls.remarks">
        <div class="col-md-9 pl-1">
          <div class="form-group">
            <!-- <label>Remarks</label> -->
            <input type="text" maxlength="60" id="remarks" class="form-control" formControlName="remarks"
                   placeholder="Enter auction specific notes">
          </div>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
