<div class="container">
  <div class="container listingOffsetTextColor">
    <div class="spinner-grow loader text-success" *ngIf="loading"></div>
    <table class="table table-hover table-sm" [ngClass]="{'loading' : loading}">
      <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Auction Type</th>
        <!--<th scope="col" *ngIf="showBestPrice">Best Bid Price</th>-->
        <th scope="col" *ngIf="role == 'admin'">Listed By</th>
        <th scope="col">Category</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <!--<th scope="col" *ngIf="role === 'admin' || role === 'seller'">Approved</th>-->
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="!auctions || auctions.length==0">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td> No Data Found</td>
          <td></td>
          <td></td>
          <td *ngIf="role === 'admin' || role === 'seller'"></td>
          <td></td>
        </tr>
      </ng-container>
      <ng-container *ngFor="let auction of data">
        <tr>
          <th scope="row"><a [routerLink]="['/product', auction.sampleNo._id]">
            <div>
              <p>{{auction.sampleNo.name.name}}</p>
              <div>
                <img [src]="auction.sampleNo.image" class="img-thumbnail" width="100" height="100"/>
              </div>
            </div>
          </a></th>
          <td>{{auction.auctionType}}</td>
          <!--<td *ngIf="showBestPrice">{{auction.bestPrice}}</td>-->
          <td *ngIf="role == 'admin'">{{auction.user.name}}</td>
          <td>{{auction.sampleNo.category.name}}</td>
          <td>{{getDateString(auction.startTime)}}</td>
          <td>{{getDateString(auction.endTime)}}</td>
          <!--<td *ngIf="role === 'admin' || role === 'seller'">{{auction.approved ? "Yes" : "No"}}</td>-->
          <td>
            <a class="btn btn-primary" [routerLink]="'/auction/edit/'+auction._id"
               *ngIf="(role=='admin' || auction.user._id === userId) && getTimeStamp(auction.startTime) > currentTimestamp">
              Edit
            </a>&nbsp;
            <button class="btn btn-primary" *ngIf="actions.indexOf('bid')!=-1 && isBiddingAllowed(auction) && currentTimestamp > getTimeStamp(auction.startTime)" (click)="placeBid(content,auction)">
              Place Bid
            </button>
            <button class="btn btn-primary" *ngIf="getTimeStamp(auction.startTime) > currentTimestamp" disabled>
                Place Bid
              </button>
            &nbsp;
            <a class="btn btn-primary" [routerLink]="'/auction/'+auction._id" *ngIf="actions.indexOf('details')!=-1">
              Details
            </a>&nbsp;

            <a class="btn btn-primary" [routerLink]="'/auction/'+auction._id" [queryParams]="{tab : 'bids'}"
               *ngIf="actions.indexOf('bids')!=-1">
              Bids
            </a>
            &nbsp;
            <button class="btn btn-primary" *ngIf="actions.indexOf('approve')!=-1"
                    (click)="approveAuction(auction._id)">
              Approve
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <nav aria-label="Page navigation example" *ngIf="totalPages.length>0">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{ 'disabled' : currentPage <= 1}"><a class="page-link"
                                                                              (click)="onPageChange(currentPage-1)">Previous</a>
        </li>
        <li class="page-item" [ngClass]="{ 'active' : currentPage== page}" *ngFor="let page of totalPages"><a
          class="page-link"
          (click)="onPageChange(page)">{{page}}</a></li>
        <li class="page-item" [ngClass]="{ 'disabled' : currentPage>=totalPages.length}"><a class="page-link"
                                                                                            (click)="onPageChange(currentPage+1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<ng-template #content let-modal>
  <app-place-bid [modal]="modal" [auction]="selectedAuction"></app-place-bid>
</ng-template>
