<div class="farmbg"></div>
<div class="container shdw" *ngIf="gblisting">
    <div class="listingOffsetTextColor">
  <div class="row container bordermk">

    <div class="col-12 col-md-6">
      <div class="ItemCardContainer">
        <img class="card-img-top ItemCardImage" [src]="gblisting.item.image" alt="{{
          gblisting.item.name }}">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="ItemCardContainer">
        <div class="card ItemCardDesc">
          <div class="card-body">
            <table style="width:100%">
              <tr>
                <th>
                  <h3 class="card-title">{{ gblisting.item.name.name }} </h3>
                </th>
              </tr>
              <tr>
                <th>Sample Number: {{ gblisting.item.sampleNo}}</th>
              </tr>
              <tr>
                <th>Type: {{ gblisting.item.category.name }}</th>
              </tr>
              <tr>
                <th>Price: Rs. {{ gblisting.dealprice }}/{{gblisting.unit.mass}}</th>
              </tr>
            </table>


          <form #f="ngForm" class="form-horizontal" (ngSubmit)="order(f.value)">
            <div class="form-group row">
                <label for="quantity" class="col-sm-4 control-label">Quantity</label>
                <div class="col-sm-8">
                  <input required ngModel name="quantity" #quantity="ngModel" id="quantity"
                  type="number" class="form-control"  (keyup)="onQuantityChange(quantity.value)">
                </div>
                <div *ngIf="quantity.touched && (!quantity.valid || exceededMaxQty || exceededAvlQty)">
                  <div class='alrt' *ngIf="!quantity.valid">  Quantity is required </div>
                  <div class='alrt' *ngIf="exceededMaxQty"> Quantity cannot exceed {{gblisting.maxqty}}</div>
                  <div class='alrt' *ngIf="exceededAvlQty"> Quantity cannot exceed available Qty </div>
                </div>
            </div>
            <div>
              Price : Rs. {{ price }} <br>
              Available Qty : {{ availableqty }}
            </div>
            <div>
            <button class="btn btn-primary" [disabled]="(!f.valid) || (!priceValid)" >Submit</button>
          </div>
          </form>

        </div>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>



