<div class="container listingOffsetTextColor">
  <div>
    <p> <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/registration"
      >Are you a new user? Click here to register</a
    ></p>
  </div>

  <h3>Enter your login Credentials</h3>

  <form [formGroup]="form" (ngSubmit)="login()">
    <div formGroupName="account">
      <div class="form-group">
          <label for="phone">Phone Number (Enter 10 digits) </label>
          <input
            formControlName="phone"
            id="phone"
            type="text"
            class="form-control"
            placeholder="Phone Number">
            <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
              <div *ngIf="phone.errors.required"> Phone number is required </div>
              <div *ngIf="phone.errors.minlength"> minimum length should be {{ phone.errors.minlength.requiredLength}}</div>
              <div *ngIf="phone.errors.maxlength"> maximum length should be {{ phone.errors.maxlength.requiredLength}}</div>
              <div *ngIf="phone.errors.pattern"> Should be only number</div>
              <div *ngIf="phone.errors.cannotContainSpace"> Phone number cannot contain space</div>
            </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          formControlName="password"
          id="password"
          type="password"
          class="form-control"
          placeholder="Password">
      </div>
    </div>
    <p> <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/forgotpassword"
      > Forgot Password click here</a></p>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Login</button>
    
  </form>
  
</div>
