<div *ngIf="order._id" class="card order">
  <div class="card-body">
    <!-- <h5 class="card-title">Order Id: {{order._id}}</h5> -->
    <h5 class="card-title">Order Id: {{order.orderno ? order.orderno:'Not Applicable'}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ order.item.name.name }} | {{
      order.item.category.name }}</h6>
    <div class="container row">
      <div class="col-12 col-md-6">
        <img *ngIf="order.item.image" class="card-img-top ItemCardImage"
          [src]="order.item.image" alt="{{ order.item.name }}">
          <ol class="progtrckr" data-progtrckr-steps="6" *ngIf="order.status == 'cancelled'" layout-align="center center">
              <li  [class.progtrckr-todo-cancel]="getOrderStatusNumber() < 6" [class.progtrckr-cancel]="getOrderStatusNumber() >= 6">Cancelled</li>
            </ol>
            <br>
          <p>{{ order.remarks }}</p>
      </div>
      <div class="col-12 col-md-6">
        <p>Hello {{order.buyer.name}}, your order details are: </p>
        <p *ngIf="order.ordertype != 'sampleorder'"><a *ngIf="order.status != 'new'" href='{{apiurl}}/getpo/{{order._id}}'>PO Details</a><br *ngIf="order.status != 'new'">
          <a *ngIf="order.status == 'ready' || order.status == 'shipped' || order.status == 'delivered' " href='{{apiurl}}/getinvoice/{{order._id}}'>Get Invoice</a>
        </p>
        <table class="table">
          <tbody>
            <tr *ngIf="order.quantity>0">
              <td>Quantity: {{order.quantity}} Kg </td>
            </tr>
            <tr *ngIf="order.quantity>0">
              <td>{{order.cost ? "Cost: Rs. " + order.cost.toFixed(2) : '' }}<span *ngIf = "order.ordertype!=='groupbuying'" class="ItemTextDtl" > {{'  '}}*Transportation cost extra </span></td>
            </tr>
            <tr *ngIf="order.quantity==0">
              <td>Sample order</td>
            </tr>
            <tr>
              <td>Ordered on: {{order.placedTime | date:'medium'}} </td>
            </tr>
            <tr> 
              <td>Order Type : {{ order.ordertype}}</td>
            </tr>
            <tr *ngIf="order.manualbill"> 
                <td>Bill uploaded by seller : <a href='{{apiurl}}/uploadbill/{{order._id}}'>Get bill</a></td>
              </tr>
              
              <!-- <tr><td *ngIf="order.status != 'ready' || order.status != 'shipped' || order.status != 'delivered'">
                  <a *ngIf="order.status != 'ready' || order.status != 'shipped' || order.status != 'delivered'" href='{{apiurl}}/getinvoice/{{order._id}}'>Get Invoice</a></td></tr> -->
            <!-- <tr *ngIf="order.ordertype =="> -->
              <tr>
              <!-- <td>Address: {{order.address.text}}, {{order.address.city.name}},
                {{order.address.city.state.name}}</td> -->
                <td *ngIf="order.isshippingbillingdiff == true"> 
                  Shipping Address: 
                  {{this.order.shippingaddress.addressbasicdtl.partyname}},
                  {{this.order.shippingaddress.addressbasicdtl.gstin}},
                  {{this.order.shippingaddress.text}},
                  {{this.order.shippingaddress.state.name}},
                  {{this.order.shippingaddress.pin}},
                  {{this.order.shippingaddress.phone}}
                </td>
                <td *ngIf="order.isshippingbillingdiff == undefined"> 
                    Shipping Address: 
                    {{this.order.buyer.name}},
                    {{this.order.buyer.GST}},
                    {{this.order.buyer.Addresses[0].text}},
                    {{this.order.buyer.Addresses[0].city.name}},
                    {{this.order.buyer.Addresses[0].city.state.name}},
                    {{this.order.buyer.Addresses[0].pin}},
                    {{this.order.buyer.phone}}
                  </td>
                  <td *ngIf="order.isshippingbillingdiff == false"> 
                      Shipping Address: 
                      {{this.order.buyer.name}},
                      {{this.order.buyer.GST}},
                      {{this.order.address.text}},
                      {{this.order.address.state.name}},
                      {{this.order.address.pin}},
                      {{this.order.buyer.phone}}
                    </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container">
      <ol class="progtrckr" data-progtrckr-steps="5" *ngIf="order.status != 'cancelled'">
        <li  [class.progtrckr-todo]="getOrderStatusNumber() < 1" [class.progtrckr-done]="getOrderStatusNumber() >= 1">New</li><!--
             --><li
             [class.progtrckr-todo]="getOrderStatusNumber() < 2" [class.progtrckr-done]="getOrderStatusNumber() >= 2">Confirmed</li><!--
             --><li
             [class.progtrckr-todo]="getOrderStatusNumber() < 3" [class.progtrckr-done]="getOrderStatusNumber() >= 3">Ready</li><!--
             --><li
             [class.progtrckr-todo]="getOrderStatusNumber() < 4" [class.progtrckr-done]="getOrderStatusNumber() >= 4">Shipped</li><!--  
             --><li
             [class.progtrckr-todo]="getOrderStatusNumber() < 5" [class.progtrckr-done]="getOrderStatusNumber() >= 5">Delivered</li>
            <!-- || <li
            [class.progtrckr-todo]="getOrderStatusNumber() < 5" [class.progtrckr-done]="getOrderStatusNumber() >= 5">Cancelled</li> -->
      </ol>
      <!-- <ol class="progtrckr" data-progtrckr-steps="6" *ngIf="order.status == 'cancelled'" layout-align="center center">
          <li  [class.progtrckr-todo-cancel]="getOrderStatusNumber() < 6" [class.progtrckr-cancel]="getOrderStatusNumber() >= 6">Cancelled</li>
        </ol> -->
        
      
    </div>
  </div>
</div>
