<div class="container listingOffsetTextColor">
  <h3>Enter your details to reset your account password</h3>

  <form [formGroup]="form" (ngSubmit)="resetPassword()">
    <div formGroupName="passwordreset">
      <div class="form-group">
          <label for="phone">Phone Number (Enter 10 digits) </label>
          <input
            formControlName="phone"
            id="phone"
            type="text"
            class="form-control"
            placeholder="Phone Number">
            <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
              <div *ngIf="phone.errors.required"> Phone number is required </div>
              <div *ngIf="phone.errors.minlength"> minimum length should be {{ phone.errors.minlength.requiredLength}}</div>
              <div *ngIf="phone.errors.maxlength"> maximum length should be {{ phone.errors.maxlength.requiredLength}}</div>
              <div *ngIf="phone.errors.pattern"> Should be only number</div>
              <div *ngIf="phone.errors.cannotContainSpace"> Phone number cannot contain space</div>
            </div>
      </div>
      <div class="form-group">
        <label for="pan">Enter your PAN No.</label>
        <input
          formControlName="pan"
          id="pan"
          type="text"
          class="form-control"
          placeholder="PAN No.">
          <div class="alert alert-danger" *ngIf="pan.touched && pan.invalid">
            <div *ngIf="pan.errors.required"> PAN is required </div>
          </div>
    </div>
    <div class="form-group">
      <label for="gstin">Enter your GSTIN No. </label>
      <input
        formControlName="gstin"
        id="gstin"
        type="text"
        class="form-control"
        placeholder="GSTIN No.">
        <div class="alert alert-danger" *ngIf="gstin.touched && gstin.invalid">
          <div *ngIf="gstin.errors.required"> GSTIN is required </div>
        </div>
  </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          formControlName="password"
          id="password"
          type="password"
          class="form-control"
          placeholder="Password">
          <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
            <div *ngIf="password.errors.required"> Password is required </div>
            <div *ngIf="password.errors.minlength"> minimum length should be {{ password.errors.minlength.requiredLength}}</div>
          </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          formControlName="confirmPassword"
          id="confirmPassword"
          type="password"
          class="form-control"
          placeholder="Confirm Password"
          (keyup)="onPasswordChange()">
          <div class="alert alert-danger" *ngIf="confirmPassword.touched && !isMatched">
            <div *ngIf="!isMatched"> Password is not matching </div>
          </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change Password</button>
  </form>
</div>
