<nav class="sidebar" *ngIf="role">
  <ul class="list-unstyled components">
    <!--Admin Section -->
    <li>
      <a
        class="nav-link scrollto p"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/auction/add"
      >List for Auction</a>
    </li>
    <li *ngIf="role=='admin' || role=='seller'">
      <a
        class="nav-link scrollto p"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/auction"
      >Auction List</a>
    </li>
    <li *ngIf="role=='admin'">
      <a
        class="nav-link scrollto p"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/auction/status"
      >Auction History</a>
    </li>
    <li *ngIf="role=='seller'">
        <a
          class="nav-link scrollto p"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/auction/bids"
        >My Bids</a>
      </li>
    <!--Buyer Section -->
    <li *ngIf="role=='buyer'">
      <a
        class="nav-link scrollto p"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/auction/active"
      >Auction List</a>
    </li>
    <!--<li *ngIf="role=='buyer'">-->
      <!--<a-->
        <!--class="nav-link scrollto p"-->
        <!--routerLinkActive="active"-->
        <!--[routerLinkActiveOptions]="{ exact: true }"-->
        <!--routerLink="/auction/inactive"-->
      <!--&gt;Inactive Auction</a>-->
    <!--</li>-->
    <li *ngIf="role=='buyer'">
      <a
        class="nav-link scrollto p"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/auction/bids"
      >My Bids</a>
    </li>


  </ul>
</nav>
