<!-- Footer -->
<div class="page-footer font-small unique-color-dark">

        <div style="background-color: #3c485b;">
          <div class="container">
    
            <!-- Grid row-->
            <!--
            Add more entries here commented

            <div class="row py-4 d-flex align-items-center">
    
              <div class="col-md-5 col-lg-5 text-center text-md-center mb-4 mb-md-0">
                      <p>Terms & Conditions
                      </p>
                  </div>
                  <div class="col-md-5 col-lg-5 text-center text-md-center mb-4 mb-md-0">
                          <p>What we do.Learn more about us.
                          </p>
                      </div>
                 Grid column -->
      
                <!-- Grid column -->
                
                <!-- Grid column -->
      
             <!--  </div>

             ------------- --> 

            <!-- Grid row-->
            <div class="footer-copyright text-center py-3">© 2019 Funfact eMarketplace Pvt Ltd. All rights reserved
                    <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a> -->
                  </div>
          </div>
          
        </div>
    
        <!-- Footer Links -->
        <!-- Footer Links -->
    
        <!-- Copyright -->
        
        <!-- Copyright -->
    
      </div>
      <!-- Footer -->