<div class="container">
  <div class="row container listingOffsetTextColor">
    <div class="col-12 col-md-3">
        <div ngbDropdown class="btn-group btn-block dropright text-left">
            <button ngbDropdownToggle type="button" class="btn btn-secondary btn-block dropdown-toggle
              text-left" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Itemname
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <!-- Dropdown menu links -->
              <ng-container *ngFor="let itemname of itemNameList">
                  <label>{{itemname.name}} <input type="checkbox" [checked] = "itemname.isSelected" (click)="setItemName(itemname)"></label><br/>
              </ng-container>
            </div>
          </div>
      <div ngbDropdown class="btn-group btn-block dropright text-left">
          <button ngbDropdownToggle type="button" class="btn btn-secondary btn-block dropdown-toggle
            text-left" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Origin
          </button>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
            <!-- Dropdown menu links -->
            <ng-container *ngFor="let city of cityList">
                <label>{{city.name}} <input type="checkbox" [checked] = "city.isSelected" (click)="setCity(city)"></label><br/>
            </ng-container>
          </div>
        </div>

        <div ngbDropdown class="btn-group btn-block dropright text-left">
          <button ngbDropdownToggle type="button" class="btn btn-secondary btn-block dropdown-toggle
            text-left" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Manufacturer
          </button>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
            <!-- Dropdown menu links -->
            <ng-container *ngFor="let mnf of manufacturerList">
                <label>{{mnf.name}} <input type="checkbox" [checked] = "mnf.isSelected" (click)="setManufacturer(mnf)"></label><br/>
            </ng-container>
           </div>
        </div> 

      <div ngbDropdown class="btn-group btn-block dropright text-left">
        <button ngbDropdownToggle type="button" class="btn btn-secondary  btn-block dropdown-toggle
          text-left" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Grade
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <!-- Dropdown menu links -->
          <ng-container *ngFor="let grade of gradeList">
              <label>{{grade.name}} <input type="checkbox" [checked] = "grade.isSelected" (click)="setGrade(grade)"></label><br/>
          </ng-container>
        </div>
      </div>
      <button class="btn btn-secondary btn-block text-left" (click)="sortByPrice()">Price</button>
      <button class="btn btn-secondary btn-block text-left" (click)="clearSelection()">Clear</button>
    </div>
    <div class="col-10 col-md-9">
      <div class="row">
        <ng-container *ngFor="let listing of data">
          <div class="col-12 col-md-6">
            <div class="ItemCardContainer">
              <app-listing-card [listing]="listing"></app-listing-card>
            </div>
          </div>
        </ng-container>
      </div>
      <nav aria-label="Page navigation example" *ngIf="totalPages.length>0">
          <ul class="pagination">
            <li class="page-item" [ngClass]="{ 'disabled' : currentPage <= 1}"><a class="page-link"
                                                                                  (click)="onPageChange(currentPage-1)">Previous</a>
            </li>
            <li class="page-item" [ngClass]="{ 'active' : currentPage== page}" *ngFor="let page of totalPages"><a
              class="page-link"
              (click)="onPageChange(page)">{{page}}</a></li>
            <li class="page-item" [ngClass]="{ 'disabled' : currentPage>=totalPages.length}"><a class="page-link"
                                                                                                (click)="onPageChange(currentPage+1)">Next</a>
            </li>
          </ul>
        </nav>
    </div>
    
  </div>
</div>
